<div id="<%= dom_id amigo %>">
  <p>
    <strong>First name:</strong>
    <%= amigo.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= amigo.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= amigo.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= amigo.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= amigo.twitter %>
  </p>

</div>
